{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/**/*.ts", "cypress/**/*.ts"],
  "exclude": ["**/*.spec.ts", "**/*.stories.ts"],
  "reporter": ["text", "html"],
  "report-dir": "coverage/e2e"
}
